body{
    background-color: black;
    background-image: url('Background.png');
    background-position: center;
    background-attachment: fixed;
}
#FORTSCHRITT{
    scroll-snap-align: start;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
    font-size: 3vh;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.heading {
    text-transform: uppercase;
    position: relative;
    background: transparent;
}

.heading h1 {
  text-align: center;
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 4vh 'Roboto', sans-serif;
    padding: 20px 0;;
    background: url(../images/border.png) no-repeat center;
}
.heading h1:before,
.heading h1:after {
  content: '';
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid;
  height: 0;
  vertical-align: middle;
}
.heading h1:before {
  margin-left: -100%;
  margin-right: 80px;
}
.heading h1:after {
  margin-left: 80px;
  margin-right: -100%;
}
#WRITING{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
}
#LOGO{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#HEADER{
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;

}
#WRAPPER{
    width: 55%;
    height: 100%;
    overflow: hidden;
}
#INNERBOX{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 5vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 30vw;
}
#TOM{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 7vw;
}
#TOMS{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 40vw;
}
#INNERTEXT{
    border-color: lightblue;
    font-size: 1.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 0px;
}
#MOKSH{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 7vw;
}
#MOKSHS{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 40vw;
}
#RAHUL{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 7vw;
}
#RAHULS{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 40vw;
}
#DANIEL{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 7vw;
}
#DANIELS{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 40vw;
}
#FLORIAN{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 7vw;
}
#FLORIANS{
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 7vw;
    border-color: lightblue;
    font-size: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 45vw;
}
#TOMIMG{    
    width: 7vw;
    height: 7vw;    
    float: left;
}
h3{
    font-size: 1.8vw;
}
.container{
    font-size: 1.5vw;
}
