body {
  background-color: black;
  background-image: url('Background.png');
  background-position: center center;
  background-attachment: fixed;
}
.container{
  overflow-y: scroll;
  margin-top:10px;
  max-height: 80vh;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}
h1 {
  color: rgb(230, 232, 245);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin:0;
}
h4 {
  color: rgb(230, 232, 245);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin:0;
}
#AUFGABE{
  scroll-snap-align: start;
  background-color: rgba(0,0,0,0.7);
  border-radius: 15px;
  font-size: 2vw;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 79vh;
  
}
#TEAM{
  scroll-snap-align: start;
  background-color: rgba(0,0,0,0.7);
  border-radius: 15px;
  font-size: 2vw;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 79vh;
}
#FORTSCHRITT{
  scroll-snap-align: start;
  background-color: rgba(0,0,0,0.7);
  border-radius: 15px;
  font-size: 2vw;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 179vh;
}
footer{
  color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  text-align: center;
  position: fixed;
  bottom:0px;
  left: 25%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 1vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}