*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

canvas{
    background-color: #000;
    position: fixed;
    left:0;
    top:0;
    z-index:-1;
}

body{
    background-color: black;
    background-position: center;
    background-attachment: fixed;
}

#WRITING{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
}
#LOGO{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#WRAPPER{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#TEAM{
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
    font-size: 2vw;
    border-color: lightblue;
    width: 25%;
    padding-bottom: 40%;
    margin-left: 10%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 1vw;
    float:left
}
#AUFGABE{
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
    border-color: lightblue;
    font-size: 2vw;
    width: 25%;
    margin-right: 2.5%;
    margin-top: 1.5%;
    padding-bottom: 40%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 1vw;
    float:left;
}

#FORTSCHRITT{
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
    border-color: lightblue;
    font-size: 2vw;
    width: 25%;
    margin-top: 1.5%;
    padding-bottom: 40%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 1vw;
    overflow: hidden;
}
